# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/main/resources/
/test/java/

/main/webapp/

/main/webapp/stylesheets/bootstrap-treeview.css
/main/webapp/stylesheets/bootstrap-grid.css
/main/webapp/stylesheets/bootstrap-reboot.css
/main/webapp/stylesheets/bootstrap-theme.css
/main/webapp/stylesheets/bootstrap.css
/main/webapp/stylesheets/css/
/main/webapp/stylesheets/fonts/
