# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/main/resources/
/test/java/


/main/webapp/javascripts/bootstrap.bundle.js
/main/webapp/javascripts/bootstrap.bundle.js.map
/main/webapp/javascripts/bootstrap.bundle.min.js
/main/webapp/javascripts/bootstrap.bundle.min.js.map
/main/webapp/javascripts/bootstrap.bundle.min.js.map
/main/webapp/javascripts/bootstrap.js
/main/webapp/javascripts/bootstrap.js.map
/main/webapp/javascripts/bootstrap.min.js
/main/webapp/javascripts/bootstrap.min.js.map
/main/webapp/javascripts/bootstrap-treeview.js


/main/webapp/stylesheets/bootstrap-treeview.css
/main/webapp/stylesheets/bootstrap-grid.css
/main/webapp/stylesheets/bootstrap-reboot.css
/main/webapp/stylesheets/bootstrap-theme.css
/main/webapp/stylesheets/bootstrap.css
/main/webapp/stylesheets/css/
/main/webapp/stylesheets/fonts/
